In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path 
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import utility_functions
%matplotlib inline
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200) # So we can see all columns
pd.set_option('display.max_rows',200)

In [2]:
import importlib
importlib.reload(utility_functions)

In [3]:
df = pd.read_csv('D:/Banque Misr Internship/Loan Datasets/sampled_data_1.csv')

In [4]:
df['DAYS_EMPLOYED'] = df['DAYS_EMPLOYED'].abs()
df['DAYS_BIRTH'] = df['DAYS_BIRTH'].abs()

In [5]:
df_cleaned = df.replace('XNA', pd.NA)

In [6]:
categorical_features = []
categorical_features = utility_functions.get_categorical_features(df_cleaned)
print("Categorical Features:",categorical_features )

Categorical Features: ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'ORGANIZATION_TYPE']

In [7]:

# One-hot encode the categorical columns
df_encoded = pd.get_dummies(df_cleaned, columns=categorical_features, drop_first=False)

# Check the resulting DataFrame
df_encoded.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_YEAR,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,NAME_INCOME_TYPE_Businessman,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Maternity leave,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Unemployed,NAME_INCOME_TYPE_Working,NAME_EDUCATION_TYPE_Academic degree,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Incomplete higher,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_FAMILY_STATUS_Civil marriage,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Unknown,NAME_FAMILY_STATUS_Widow,NAME_HOUSING_TYPE_Co-op apartment,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,NAME_HOUSING_TYPE_With parents,OCCUPATION_TYPE_Accountants,OCCUPATION_TYPE_Cleaning staff,OCCUPATION_TYPE_Cooking staff,OCCUPATION_TYPE_Core staff,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_HR staff,OCCUPATION_TYPE_High skill tech staff,OCCUPATION_TYPE_IT staff,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,ORGANIZATION_TYPE_Advertising,ORGANIZATION_TYPE_Agriculture,ORGANIZATION_TYPE_Bank,ORGANIZATION_TYPE_Business Entity Type 1,ORGANIZATION_TYPE_Business Entity Type 2,ORGANIZATION_TYPE_Business Entity Type 3,ORGANIZATION_TYPE_Cleaning,ORGANIZATION_TYPE_Construction,ORGANIZATION_TYPE_Culture,ORGANIZATION_TYPE_Electricity,ORGANIZATION_TYPE_Emergency,ORGANIZATION_TYPE_Government,ORGANIZATION_TYPE_Hotel,ORGANIZATION_TYPE_Housing,ORGANIZATION_TYPE_Industry: type 1,ORGANIZATION_TYPE_Industry: type 10,ORGANIZATION_TYPE_Industry: type 11,ORGANIZATION_TYPE_Industry: type 12,ORGANIZATION_TYPE_Industry: type 13,ORGANIZATION_TYPE_Industry: type 2,ORGANIZATION_TYPE_Industry: type 3,ORGANIZATION_TYPE_Industry: type 4,ORGANIZATION_TYPE_Industry: type 5,ORGANIZATION_TYPE_Industry: type 6,ORGANIZATION_TYPE_Industry: type 7,ORGANIZATION_TYPE_Industry: type 8,ORGANIZATION_TYPE_Industry: type 9,ORGANIZATION_TYPE_Insurance,ORGANIZATION_TYPE_Kindergarten,ORGANIZATION_TYPE_Legal Services,ORGANIZATION_TYPE_Medicine,ORGANIZATION_TYPE_Military,ORGANIZATION_TYPE_Mobile,ORGANIZATION_TYPE_Other,ORGANIZATION_TYPE_Police,ORGANIZATION_TYPE_Postal,ORGANIZATION_TYPE_Realtor,ORGANIZATION_TYPE_Religion,ORGANIZATION_TYPE_Restaurant,ORGANIZATION_TYPE_School,ORGANIZATION_TYPE_Security,ORGANIZATION_TYPE_Security Ministries,ORGANIZATION_TYPE_Self-employed,ORGANIZATION_TYPE_Services,ORGANIZATION_TYPE_Telecom,ORGANIZATION_TYPE_Trade: type 1,ORGANIZATION_TYPE_Trade: type 2,ORGANIZATION_TYPE_Trade: type 3,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 6,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,9461,637,0.262949,0.139376,2.0,2.0,2.0,2.0,-1134.0,1,0.0,1.0,False,True,True,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,16765,1188,0.622246,NaN,1.0,0.0,1.0,0.0,-828.0,1,0.0,0.0,True,False,True,False,True,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,19046,225,0.555912,0.729567,0.0,0.0,0.0,0.0,-815.0,0,0.0,0.0,False,True,False,True,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,19005,3039,0.650442,NaN,2.0,0.0,2.0,0.0,-617.0,1,NaN,NaN,True,False,True,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,19932,3038,0.322738,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0.0,0.0,False,True,True,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
nulls = utility_functions.get_numerical_summary(df_encoded)

AMT_ANNUITY : 12 (0.004%)
AMT_GOODS_PRICE : 278 (0.09%)
EXT_SOURCE_2 : 660 (0.215%)
EXT_SOURCE_3 : 60965 (19.825%)
OBS_30_CNT_SOCIAL_CIRCLE : 1021 (0.332%)
DEF_30_CNT_SOCIAL_CIRCLE : 1021 (0.332%)
OBS_60_CNT_SOCIAL_CIRCLE : 1021 (0.332%)
DEF_60_CNT_SOCIAL_CIRCLE : 1021 (0.332%)
DAYS_LAST_PHONE_CHANGE : 1 (0.0%)
AMT_REQ_CREDIT_BUREAU_HOUR : 41519 (13.502%)
AMT_REQ_CREDIT_BUREAU_YEAR : 41519 (13.502%)

In [10]:
from sklearn.impute import SimpleImputer

# Create a copy of the original dataframe to work on
df = df_encoded.copy()

# Impute numerical columns
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
for col in numerical_cols:
    if df[col].isnull().sum() > 0:
        imputer = SimpleImputer(strategy='mean')  
        df[col] = imputer.fit_transform(df[[col]])

# Impute categorical columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns
for col in categorical_cols:
    if df[col].isnull().sum() > 0:
        imputer = SimpleImputer(strategy='most_frequent')  
        df[col] = imputer.fit_transform(df[[col]])

# Check if there are any remaining nulls
print(df.isnull().sum().sort_values(ascending=False))

SK_ID_CURR                                           0
ORGANIZATION_TYPE_Culture                            0
ORGANIZATION_TYPE_Industry: type 5                   0
ORGANIZATION_TYPE_Industry: type 4                   0
ORGANIZATION_TYPE_Industry: type 3                   0
ORGANIZATION_TYPE_Industry: type 2                   0
ORGANIZATION_TYPE_Industry: type 13                  0
ORGANIZATION_TYPE_Industry: type 12                  0
ORGANIZATION_TYPE_Industry: type 11                  0
ORGANIZATION_TYPE_Industry: type 10                  0
ORGANIZATION_TYPE_Industry: type 1                   0
ORGANIZATION_TYPE_Housing                            0
ORGANIZATION_TYPE_Hotel                              0
ORGANIZATION_TYPE_Government                         0
ORGANIZATION_TYPE_Emergency                          0
ORGANIZATION_TYPE_Electricity                        0
ORGANIZATION_TYPE_Construction                       0
OCCUPATION_TYPE_Low-skill Laborers                   0
ORGANIZATION_TYPE_Cleaning                           0
ORGANIZATION_TYPE_Business Entity Type 3             0
ORGANIZATION_TYPE_Business Entity Type 2             0
ORGANIZATION_TYPE_Business Entity Type 1             0
ORGANIZATION_TYPE_Bank                               0
ORGANIZATION_TYPE_Agriculture                        0
ORGANIZATION_TYPE_Advertising                        0
OCCUPATION_TYPE_Waiters/barmen staff                 0
OCCUPATION_TYPE_Security staff                       0
OCCUPATION_TYPE_Secretaries                          0
OCCUPATION_TYPE_Sales staff                          0
OCCUPATION_TYPE_Realty agents                        0
OCCUPATION_TYPE_Private service staff                0
OCCUPATION_TYPE_Medicine staff                       0
ORGANIZATION_TYPE_Industry: type 6                   0
ORGANIZATION_TYPE_Industry: type 7                   0
ORGANIZATION_TYPE_Industry: type 8                   0
ORGANIZATION_TYPE_Industry: type 9                   0
ORGANIZATION_TYPE_Transport: type 4                  0
ORGANIZATION_TYPE_Transport: type 3                  0
ORGANIZATION_TYPE_Transport: type 2                  0
ORGANIZATION_TYPE_Transport: type 1                  0
ORGANIZATION_TYPE_Trade: type 7                      0
ORGANIZATION_TYPE_Trade: type 6                      0
ORGANIZATION_TYPE_Trade: type 5                      0
ORGANIZATION_TYPE_Trade: type 4                      0
ORGANIZATION_TYPE_Trade: type 3                      0
ORGANIZATION_TYPE_Trade: type 2                      0
ORGANIZATION_TYPE_Trade: type 1                      0
ORGANIZATION_TYPE_Telecom                            0
ORGANIZATION_TYPE_Services                           0
ORGANIZATION_TYPE_Self-employed                      0
ORGANIZATION_TYPE_Security Ministries                0
ORGANIZATION_TYPE_Security                           0
ORGANIZATION_TYPE_School                             0
ORGANIZATION_TYPE_Restaurant                         0
ORGANIZATION_TYPE_Religion                           0
ORGANIZATION_TYPE_Realtor                            0
ORGANIZATION_TYPE_Postal                             0
ORGANIZATION_TYPE_Police                             0
ORGANIZATION_TYPE_Other                              0
ORGANIZATION_TYPE_Mobile                             0
ORGANIZATION_TYPE_Military                           0
ORGANIZATION_TYPE_Medicine                           0
ORGANIZATION_TYPE_Legal Services                     0
ORGANIZATION_TYPE_Kindergarten                       0
ORGANIZATION_TYPE_Insurance                          0
OCCUPATION_TYPE_Managers                             0
OCCUPATION_TYPE_Laborers                             0
TARGET                                               0
FLAG_DOCUMENT_3                                      0
NAME_TYPE_SUITE_Spouse, partner                      0
NAME_TYPE_SUITE_Other_B                              0
NAME_TYPE_SUITE_Other_A                              0
NAME_TYPE_SUITE_Group of people                      0
NAME_TYPE_SUITE_Family                               0
NAME_TYPE_SUITE_Children                             0
FLAG_OWN_REALTY_Y                                    0
FLAG_OWN_REALTY_N                                    0
FLAG_OWN_CAR_Y                                       0
FLAG_OWN_CAR_N                                       0
CODE_GENDER_M                                        0
CODE_GENDER_F                                        0
AMT_REQ_CREDIT_BUREAU_YEAR                           0
AMT_REQ_CREDIT_BUREAU_HOUR                           0
DAYS_LAST_PHONE_CHANGE                               0
OCCUPATION_TYPE_IT staff                             0
DEF_60_CNT_SOCIAL_CIRCLE                             0
OBS_60_CNT_SOCIAL_CIRCLE                             0
DEF_30_CNT_SOCIAL_CIRCLE                             0
OBS_30_CNT_SOCIAL_CIRCLE                             0
EXT_SOURCE_3                                         0
EXT_SOURCE_2                                         0
DAYS_EMPLOYED                                        0
DAYS_BIRTH                                           0
REGION_POPULATION_RELATIVE                           0
AMT_GOODS_PRICE                                      0
AMT_ANNUITY                                          0
AMT_CREDIT                                           0
AMT_INCOME_TOTAL                                     0
CNT_CHILDREN                                         0
NAME_TYPE_SUITE_Unaccompanied                        0
NAME_INCOME_TYPE_Businessman                         0
NAME_INCOME_TYPE_Commercial associate                0
NAME_INCOME_TYPE_Maternity leave                     0
OCCUPATION_TYPE_High skill tech staff                0
OCCUPATION_TYPE_HR staff                             0
OCCUPATION_TYPE_Drivers                              0
OCCUPATION_TYPE_Core staff                           0
OCCUPATION_TYPE_Cooking staff                        0
OCCUPATION_TYPE_Cleaning staff                       0
OCCUPATION_TYPE_Accountants                          0
NAME_HOUSING_TYPE_With parents                       0
NAME_HOUSING_TYPE_Rented apartment                   0
NAME_HOUSING_TYPE_Office apartment                   0
NAME_HOUSING_TYPE_Municipal apartment                0
NAME_HOUSING_TYPE_House / apartment                  0
NAME_HOUSING_TYPE_Co-op apartment                    0
NAME_FAMILY_STATUS_Widow                             0
NAME_FAMILY_STATUS_Unknown                           0
NAME_FAMILY_STATUS_Single / not married              0
NAME_FAMILY_STATUS_Separated                         0
NAME_FAMILY_STATUS_Married                           0
NAME_FAMILY_STATUS_Civil marriage                    0
NAME_EDUCATION_TYPE_Secondary / secondary special    0
NAME_EDUCATION_TYPE_Lower secondary                  0
NAME_EDUCATION_TYPE_Incomplete higher                0
NAME_EDUCATION_TYPE_Higher education                 0
NAME_EDUCATION_TYPE_Academic degree                  0
NAME_INCOME_TYPE_Working                             0
NAME_INCOME_TYPE_Unemployed                          0
NAME_INCOME_TYPE_Student                             0
NAME_INCOME_TYPE_State servant                       0
NAME_INCOME_TYPE_Pensioner                           0
ORGANIZATION_TYPE_University                         0
dtype: int64

In [ ]:
final_df = df_encoded.dropna()

In [11]:
filepath = Path('D:/Banque Misr Internship/Loan Datasets/imputed_dataset.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)